.select-container {
  position: relative;

  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    outline-color: #ff922b;
    cursor: pointer;
    padding: 8px 20px 8px 56px;
    border-radius: 28px;
    border: 0.2px solid #8e8d8d;
    color: rgb(43, 43, 43);
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 40px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #8e8d8d;
  display: flex;
  justify-content: center;
}
